*{
    margin : 0;
    padding:0;
    box-sizing: border-box;
}
body{
    width:100vw;
    height:100vh;
}
.container{
    width : 100vw;
min-height: 95vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
} 
.container div{
    display:flex;
    justify-content: space-around;
    align-items: center;

    border:1px solid black;
    width:5rem;
    height:5rem;
    margin :10px;

}
.marked{
background-color:blue;
}